.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999 !important; /* Increase the z-index */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
}

.notification.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
