

<br><br><br><br><br>

<a routerLink="/Place-Order" class="order-link">Passer une commande maintenant!</a>


<h2>Responsive Table</h2>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
    <tr>
      <th>Order ID</th>
      <th>Customer Name</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td data-label="Order ID">1</td>
      <td data-label="Customer Name">John Doe</td>
      <td data-label="Product">Planks of Oak</td>
      <td data-label="Quantity">50</td>
      <td data-label="Price">$50.00</td>
      <td data-label="Total">$2500.00</td>

    </tr>
    <tr>
      <td data-label="Order ID">2</td>
      <td data-label="Customer Name">Jane Smith</td>
      <td data-label="Product">Construction Wood</td>
      <td data-label="Quantity">20</td>
      <td data-label="Price">$70.00</td>
      <td data-label="Total">$1400.00</td>

    </tr>
    <tr>
      <td data-label="Order ID">3</td>
      <td data-label="Customer Name">Alice Johnson</td>
      <td data-label="Product">Walnut Planks</td>
      <td data-label="Quantity">10</td>
      <td data-label="Price">$100.00</td>
      <td data-label="Total">$1000.00</td>

    </tr>
    <tr>
      <td data-label="Order ID">4</td>
      <td data-label="Customer Name">Michael Brown</td>
      <td data-label="Product">Particle Boards</td>
      <td data-label="Quantity">15</td>
      <td data-label="Price">$30.00</td>
      <td data-label="Total">$450.00</td>

    </tr>
    <tr>
      <td data-label="Order ID">5</td>
      <td data-label="Customer Name">Rayan barcher</td>
      <td data-label="Product">Particle Boards</td>
      <td data-label="Quantity">15</td>
      <td data-label="Price">$30.00</td>
      <td data-label="Total">$450.00</td>


    </tr>
    <tr>
      <td data-label="Order ID">6</td>
      <td data-label="Customer Name">Salim hikal</td>
      <td data-label="Product">Particle Boards</td>
      <td data-label="Quantity">15</td>
      <td data-label="Price">$30.00</td>
      <td data-label="Total">$450.00</td>

    </tr>
    </tbody>
  </table>
</div>




