
<div class="modal" *ngIf="clientToUpdate">

  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Edit Client</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="customerName">Customer Name</label>
      <input
        id="customerName"
        name="customerName"
        [(ngModel)]="clientToUpdate.customerName"
        required
      >

      <label for="customerAddress">Address</label>
      <input
        id="customerAddress"
        name="customerAddress"
        [(ngModel)]="clientToUpdate.customerAddress"
        required
      >

      <label for="email">Email</label>
      <input
        id="email"
        name="email"
        type="email"
        [(ngModel)]="clientToUpdate.email"
        required
      >
      <label for="email">tel</label>
      <input
        id="tel"
        name="tel"
        type="tel"
        [(ngModel)]="clientToUpdate.tel"
        required
      >

      <button type="submit">Save</button>
      <button type="button" (click)="closeModal()">Cancel</button>

    </form>



  </div>
</div>
<app-notification></app-notification>
