<nav>
  <div class="wrapper">
    <div class="logo"><a href="#">Système de facturation $ </a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a (click)="tohome()">Accueil</a></li>

      <li><a (click)="toClients()">Clients</a></li>

      <li>
        <a (click)="toproducts()" class="desktop-item">Produits</a>

      </li>
      <li>
        <a (click)="toOrders()" class="desktop-item">Commandes</a>

      </li>
      <li><a href="#">Feedback</a></li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

<router-outlet>

</router-outlet>



